<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.agent.mapper.AgentServiceMapper">

    <select id="getServiceIncome" resultType="com.cqyz.aibeijiayuan.bean.service.vo.ServicesVO">
        SELECT sv.service_id, sv.service_type,sv.service_year,sv.half_year_type ,count(distinct so.child_id) as child_count, sum(so.service_actual_price) as total_amount
        FROM abjy_tb_services sv
        left join abjy_tb_service_order so on so.service_id = sv.service_id and so.is_delete = 0
        where sv.is_delete = 0 and  sv.service_type = 2 and sv.agent_id = #{agentId}
        and sv.kindergarten_id = #{kindergartenId}
        group by sv.service_id order by sv.service_year desc, sv.half_year_type desc
    </select>
</mapper>