<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.agent.mapper.AgentAgentMapper">

    <select id="getData" resultType="com.cqyz.aibeijiayuan.bean.agent.vo.AgentVO">
        SELECT count(distinct kg.kindergarten_id) as kindergarten_count,
        count(distinct ch.child_id)  as child_count,
        count(distinct th.teacher_id)  as teacher_count,
        count(distinct cl.classes_id)  as classes_count
        FROM abjy_tb_kindergarten kg
        left join abjy_tb_child ch
        on ch.kindergarten_id = kg.kindergarten_id and ch.is_delete = 0 and ch.child_status = 1
        left join (abjy_tb_classes cl , abjy_tb_grade gr)
        on cl.is_delete = 0 and cl.is_graduate = 0 and cl.kindergarten_id = kg.kindergarten_id
        and gr.kindergarten_id = cl.kindergarten_id and gr.grade_id = cl.grade_id and gr.is_delete = 0
        left join abjy_tb_teacher th
        on th.teacher_status = 1 and th.is_delete = 0 and th.kindergarten_id = kg.kindergarten_id
        where kg.agent_id = #{agentId} and kg.is_delete = 0 and kg.kindergarten_status = 1
    </select>
</mapper>