<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowswift.myspringboot.api.customer.mapper.CustomerCustomerMapper">

    <select id="getClassesNameList" resultType="com.cqyz.aibeijiayuan.bean.classes.po.Classes">

        select *
        from
        abjy_tb_classes
        where abjy_tb_classes.is_delete=0 and
        JSON_CONTAINS(classes_teacher_ids,#{teacherId})
        <if test="classesName != null ">
            and abjy_tb_classes.classes_name = #{classesName}
        </if>
        order by abjy_tb_classes.create_time desc

    </select>


    <select id="findTeacherInfoByAccount" resultType="com.knowswift.myspringboot.bean.customer.vo.CustomerVO">
        select
        abjy_tb_teacher.*,
        case teacher_role
        when 'ROLE_ADMIN' then '集中平台管理员'
        when 'ROLE_MANAGER' then '幼儿园管理人'
        when 'ROLE_TEACHER' then '教师'
        when 'ROLE_PARENT' then '家长'
        end 'permission'
        FROM abjy_tb_teacher
        where abjy_tb_teacher.is_delete = 0
        and teacher_phone = #{phone};
    </select>
    <select id="getByCardId" resultType="com.knowswift.myspringboot.bean.customer.vo.CustomerVO">
        select th.*,ca.card_external_code ,ca.card_internal_code
        from abjy_tb_teacher th, abjy_tb_card ca
        where th.card_id = ca.card_id and th.is_delete = 0 and ca.is_delete = 0
        and ca.card_id = #{cardId}
    </select>

</mapper>
