<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.customer.mapper.TeacherAttendanceMapper">

    <select id="getClassesAttendanceData" resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.ChildAttendanceVO">
		select tc.teacher_id,cl.classes_id,concat(ga.grade_name,cl.classes_name)as classes_name,ifnull(t1.attendance_count,0) as attendance_count
        from (abjy_tb_teacher_classes tc, abjy_tb_classes cl, abjy_tb_grade ga) left join(
                select ca.classes_id,count(ca.child_id) as attendance_count from(
				SELECT classes_id,child_id
				FROM abjy_tb_child_attendance where date_format(record_time ,'%Y-%m-%d') = current_date()
				and is_delete = 0 and record_type = 1 group by classes_id,child_id)ca group by ca.classes_id
                )t1
                on t1.classes_id = cl.classes_id  and tc.classes_id = t1.classes_id
        where cl.grade_id = ga.grade_id
        and tc.is_delete = 0 and cl.is_delete = 0 and tc.classes_id = cl.classes_id
        and cl.is_graduate = 0
        and ga.is_delete = 0
        and tc.teacher_id = #{id}
        and cl.kindergarten_id = #{kindergartenId}
        group by tc.classes_id,cl.classes_id
    </select>
    <select id="getKindergartenAttendanceData"
            resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.ChildAttendanceVO">
        select count(child_id) as attendance_count from (
        select ca.classes_id,cl.classes_name,ga.grade_name, ca.child_id,cl.kindergarten_id from(
        SELECT * FROM abjy_tb_child_attendance where date_format(record_time ,'%Y-%m-%d') = current_date()
        and kindergarten_id = #{kindergartenId} and record_type = 1
        group by child_id
        ) ca, abjy_tb_child ch, abjy_tb_classes cl, abjy_tb_grade ga,abjy_tb_teacher_classes tc
        where ca.is_delete = 0 and ch.is_delete = 0 and ch.child_status = 1
        and cl.grade_id = ga.grade_id
        and ga.is_delete = 0
        and ca.classes_id = cl.classes_id and ca.child_id = ch.child_id
        and tc.classes_id = ca.classes_id group by ch.child_id)t1
    </select>
    <select id="getClassesAttendanceList"
            resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.ChildAttendanceVO">
        select classes_id,classes_name,grade_name,count(child_id) as attendance_count from (
        select cl.classes_id,cl.classes_name,ga.grade_name, ca.child_id,cl.kindergarten_id,ca.record_type from
        (abjy_tb_classes cl, abjy_tb_grade ga) left join (
        SELECT caa.* FROM abjy_tb_child_attendance caa , abjy_tb_child ch where date_format(caa.record_time ,'%Y-%m-%d') = current_date()
        and caa.kindergarten_id = #{kindergartenId} and record_type=1
        and ch.child_status = 1 and caa.is_delete = 0  and caa.child_id = ch.child_id and ch.is_delete = 0
        group by child_id
        ) ca on ca.classes_id = cl.classes_id
        where cl.grade_id = ga.grade_id and cl.is_delete = 0 and cl.is_graduate = 0 and ga.is_delete = 0
        and cl.kindergarten_id = #{kindergartenId}
        group by ca.child_id,cl.classes_id)t1
        group by t1.classes_id

    </select>
    <select id="getClassesAttendanceDataById" resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.ChildAttendanceVO">
        SELECT *
        FROM abjy_tb_child_attendance where date_format(record_time ,'%Y-%m-%d') = current_date()
        and classes_id  = #{classesId}
        and is_delete = 0
    </select>
    <select id="getChildAttendance" resultType="com.cqyz.aibeijiayuan.bean.clock.vo.ChildClockVO">
        select t2.child_id,t2.child_name,t2.classes_id,t2.classes_name,t2.grade_id,t2.grade_name,
        t2.clock_time,t2.clock_picture,ifnull(t2.card_external_code ,card.card_external_code) as card_external_code
        FROM (select t1.*,ca.clock_time,ca.clock_picture,cd.card_external_code
            from (select ch.*,cl.classes_name, gd.grade_id,gd.grade_name from abjy_tb_child ch, abjy_tb_classes cl , abjy_tb_grade gd where ch.child_id = #{childId}
             and cl.classes_id = ch.classes_id and cl.grade_id = gd.grade_id and cl.is_delete = 0
             and cl.is_graduate = 0 and gd.is_delete = 0 ) t1
             left join (abjy_tb_child_clock ca,abjy_tb_card cd)
        on ca.child_id = t1.child_id and ca.is_delete = 0 and ca.card_internal_code = cd.card_internal_code
        and date_format(ca.clock_time,'%Y-%m-%d') = #{date}
        order by ca.clock_millisecond desc) t2 left join (select * from abjy_tb_card where is_delete = 0 and card_status in(3,4) group by user_id)card on t2.child_id = card.user_id and t2.clock_time is null
        order by t2.clock_time desc
    </select>
    <select id="getMyAttendance" resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.TeacherAttendanceVO">
        select * from abjy_tb_teacher_clock where date_format(clock_time ,'%Y-%m-%d') = #{date}
        and teacher_id  = #{teacherId} and is_delete =0 and kindergarten_id = #{kindergartenId}
    </select>
    <select id="getTeacherAttendanceList"
            resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.TeacherAttendanceVO">
        select th.teacher_id , th.teacher_name , th.teacher_avatar ,th.teacher_phone ,ta.record_time,ta.record_type,
        ta.ask_for_leave_status,ta.is_edit
        from abjy_tb_teacher th left join abjy_tb_teacher_attendance ta
        on th.teacher_id = ta.teacher_id and date_format(ta.record_time ,'%Y-%m-%d') = current_date()
        and ta.is_delete =0
        and th.kindergarten_Id  = #{kindergartenId}
        and th.is_delete = 0 and th.teacher_status = 1
    </select>
    <select id="getTeacherAttendanceById"
            resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.TeacherAttendanceVO">
        select t2.teacher_name,t2.clock_time,t2.clock_picture,ifnull(t2.card_external_code ,card.card_external_code) as card_external_code
        from (select th.teacher_id , th.teacher_name ,ta.clock_time ,ta.clock_picture,cd.card_external_code
        from abjy_tb_teacher th left join abjy_tb_teacher_clock ta
        on th.teacher_id = ta.teacher_id and  date_format(ta.clock_time ,'%Y-%m-%d') = #{date}
        and ta.is_delete =0
        left join abjy_tb_card cd on ta.teacher_id = cd.user_id
        where th.is_delete = 0 and th.teacher_status = 1 and th.teacher_id  = #{teacherId}
        group by teacher_id)t2 left join (
        select * from abjy_tb_card where is_delete = 0 and card_status in(3,4) group by user_id)card
        on t2.teacher_id = card.user_id and t2.clock_time is null
        order by t2.clock_time desc
    </select>

    <select id="getAskForLeaveList" resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.ChildAttendanceVO">
        select ch.child_name,gr.grade_name ,cl.classes_name,ca.* from abjy_tb_child_attendance ca ,abjy_tb_child ch,abjy_tb_teacher_classes tc,
        abjy_tb_classes cl, abjy_tb_grade gr
        where ca.child_id = ch.child_id and ca.is_delete = 0 and ch.is_delete = 0 and cl.is_graduate = 0
        and gr.is_delete = 0
        and ca.classes_id = tc.classes_id and tc.is_delete = 0 and tc.teacher_id = #{teacherId}
        and ch.kindergarten_id = #{kindergartenId}
        and cl.grade_id = gr.grade_id and cl.classes_id = ch.classes_id and cl.is_delete=0
        and ca.record_type = 3 and is_edit = 0
        order by ca.ask_time desc
    </select>
    <select id="getMyAskForLeaveList"
            resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.TeacherAttendanceVO">
        select afl.*,tea.teacher_name as approval_teacher_name
        from abjy_tb_teacher_attendance afl,abjy_tb_teacher tea
        where afl.is_delete = 0
        <if test="status!=null and status!=''">
            and afl.ask_for_leave_status=#{status}
        </if>
        and afl.record_type = 3
        and afl.approval_teacher_id = tea.teacher_id
        and afl.teacher_id = #{teacherId}
        and afl.kindergarten_id = #{kindergartenId}
        order by afl.ask_time desc
    </select>
    <select id="getTeacherAskForLeaveByApprovalTeacherId"
            resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.TeacherAttendanceVO">
        select afl.*,tea.teacher_name as teacher_name
        from abjy_tb_teacher_attendance afl,abjy_tb_teacher tea
        where afl.is_delete = 0
        <if test="status!=null and status!=0">
            and afl.ask_for_leave_status=#{status}
        </if>
        and afl.record_type = 3
        and afl.approval_teacher_id = #{approvalTeacherId}
        and afl.kindergarten_id = #{kindergartenId}
        and afl.teacher_id = tea.teacher_id
        order by afl.ask_time desc
    </select>
    <select id="getById" resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.TeacherAttendanceVO">
        select tat.*,teh.teacher_name,teh.teacher_avatar ,apt.teacher_name as approval_teacher_name,apt.teacher_avatar as approval_teacher_avatar
        from abjy_tb_teacher_attendance tat,abjy_tb_teacher teh,abjy_tb_teacher apt
        where tat.is_delete = 0 and teh.is_delete = 0 and apt.is_delete = 0
        and tat.teacher_id = teh.teacher_id and tat.approval_teacher_id = apt.teacher_id
        and tat.teacher_attendance_id = #{teacherAttendanceId}
    </select>
    <select id="getTeacherAttendanceCount" resultType="int">
        select count(*) from (SELECT 1 FROM abjy_tb_teacher_attendance where record_type = 1 and is_delete = 0
        and date_format(record_time,'%Y-%m-%d') = current_date()
        and kindergarten_id = #{kindergartenId}
        group by teacher_id )t1
    </select>
    <select id="check" resultType="java.lang.Integer">
        SELECT count(*) FROM abjy_tb_teacher_attendance
        where is_delete = 0
        and record_type = 3
        and teacher_id = #{teacherId}
        and (record_time between #{startTime} and #{endTime}
         or end_time  between #{startTime} and #{endTime} )
    </select>

    <select id="getAllAskForLeaveList" resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.ChildAttendanceVO">
        select ch.child_name,gr.grade_name ,cl.classes_name,ca.* from abjy_tb_child_attendance ca ,abjy_tb_child ch,
        abjy_tb_classes cl, abjy_tb_grade gr
        where ca.child_id = ch.child_id and ca.is_delete = 0 and ch.is_delete = 0 and cl.is_graduate = 0
        and gr.is_delete = 0
        and ch.kindergarten_id = #{kindergartenId}
        and cl.grade_id = gr.grade_id and cl.classes_id = ch.classes_id and cl.is_delete=0
        and ca.record_type = 3 and is_edit = 0
        order by ca.ask_time desc
    </select>
</mapper>