<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.customer.mapper.TeacherTeacherLogMapper">

    <select id="getChildList" resultType="com.cqyz.aibeijiayuan.bean.user.vo.ParentLogVO">
        select ch.child_id,ch.child_name,
        ifnull(sum(log_score) ,0) as total_log_score
        from abjy_tb_parent_log pl right join abjy_tb_child ch
        on pl.is_delete = 0 and pl.child_id = ch.child_id
        and date_format(pl.log_time,'%Y-%m') = #{month} and pl.kindergarten_id = #{kindergartenId}
        where ch.is_delete = 0
        and ch.kindergarten_id = #{kindergartenId}
        and (ch.child_status = 1 or date_format(ch.child_leave_time,'%Y-%m') = #{month})
        and ch.classes_id = #{classesId}
        group by ch.child_id
        order by total_log_score desc
    </select>

    <select id="getTeacherList" resultType="com.cqyz.aibeijiayuan.bean.customer.vo.TeacherLogVO">
        select th.teacher_id,th.teacher_name,
        ifnull(sum(log_score) ,0) as total_log_score
        from abjy_tb_teacher_log tl right join abjy_tb_teacher th
        on tl.is_delete = 0 and tl.teacher_id = th.teacher_id
        and date_format(tl.log_time,'%Y-%m') = #{month}
        where th.kindergarten_id = #{kindergartenId}
        and th.is_delete = 0
        and th.teacher_status = 1
        group by th.teacher_id
        order by total_log_score desc
    </select>

    <select id="getTodayById" resultType="com.cqyz.aibeijiayuan.bean.customer.vo.TeacherLogVO">
        select
        op.operation_id as log_type,
        op.operation_name as log_name,
        op.operation_score as log_score,
        op.operation_limit as log_limit,
        if(count(tl.log_type) / operation_limit >1,1,count(tl.log_type) / operation_limit)*100 as rate,
        count(tl.log_type) as today_count
        from abjy_tb_operation op left join abjy_tb_teacher_log tl on op.operation_id = tl.log_type
        and date_format(tl.log_time,'%Y-%m-%d') = current_date()
        and tl.is_delete = 0 and tl.teacher_id = #{teacherId}
        where op.is_delete = 0
        group by op.operation_id,tl.log_type
    </select>

    <select id="getClassesList" resultType="com.cqyz.aibeijiayuan.bean.user.vo.ParentLogVO">
        select ch.classes_id , ga.grade_name,cl.classes_name,
        ifnull(sum(log_score) ,0) as total_log_score
        from abjy_tb_parent_log pl right join (abjy_tb_child ch, abjy_tb_classes cl, abjy_tb_grade ga)
        on pl.is_delete = 0 and pl.child_id = ch.child_id
        and date_format(pl.log_time,'%Y-%m') = #{month}  and pl.kindergarten_id = #{kindergartenId}
        where ch.is_delete = 0 and cl.is_delete =0
        and ch.classes_id = cl.classes_id and ga.grade_id = cl.grade_id
        and (ch.child_status = 1 or date_format(ch.child_leave_time,'%Y-%m') = #{month})
        and cl.is_graduate = 0
        and cl.kindergarten_id = #{kindergartenId}
        group by ch.classes_id
        order by total_log_score desc
    </select>
    <select id="getMonthById" resultType="java.lang.Integer">
        select ifnull(sum(log_score),0) from abjy_tb_teacher_log where is_delete = 0 and teacher_id = #{teacherId}
        and date_format(log_time,'%Y-%m') = date_format(current_date(),'%Y-%m')
    </select>
</mapper>