<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.customer.mapper.TeacherChildMapper">

    <select id="getParentByChildId" resultType="com.knowswift.myspringboot.bean.user.vo.UserVO">
        select pt.parent_id, concat(ch.child_name,ch.relation_name) as parent_name, pt.parent_avatar,
        pt.parent_phone, ch.child_id, pt.is_focus_subscription, pt.subscription_open_id, pt.face_image_url, pt.is_ban_moment, pt.is_login
        ,ch.relation_name ,1 as first_contact from abjy_tb_child ch, abjy_tb_parent pt
        where ch.is_delete = 0
        and pt.is_delete = 0
        and ch.parent_id = pt.parent_id
        and ch.child_id = #{childId}
        union
        select pt.parent_id, concat(ch.child_name,cc.relation_name) as parent_name, pt.parent_avatar,
        pt.parent_phone, ch.child_id, pt.is_focus_subscription, pt.subscription_open_id, pt.face_image_url, pt.is_ban_moment, pt.is_login,
        cc.relation_name ,0 as first_contact from abjy_tb_child ch ,abjy_tb_child_contact cc,abjy_tb_parent pt where ch.is_delete = 0
        and pt.is_delete = 0 and pt.parent_id = cc.parent_id and cc.is_delete = 0
        and ch.child_id = cc.child_id  and cc.child_id = #{childId}
    </select>
    <select id="getParentWithoutChild" resultType="com.knowswift.myspringboot.bean.user.po.User">
        select pt.* from abjy_tb_parent pt where pt.parent_id not in(
        select * from(select pa.parent_id from abjy_tb_parent pa, abjy_tb_child ch
        where ch.parent_id = pa.parent_id
        and ch.is_delete = 0
        and pa.is_delete = 0
        and ch.child_status in(1,2)
        union
        select pa.parent_id from abjy_tb_parent pa, abjy_tb_child ch ,abjy_tb_child_contact cc
        where ch.child_id = cc.child_id
        and cc.parent_id = pa.parent_id
        and cc.is_delete = 0
        and ch.is_delete = 0
        and pa.is_delete = 0
        and ch.child_status in(1,2) )t1 group by t1.parent_id) and pt.is_delete = 0 and pt.is_lock = 0
    </select>
    <select id="getParentWithChild" resultType="com.knowswift.myspringboot.bean.user.po.User">
        select pt.* from abjy_tb_parent pt where pt.parent_id in(
        select * from(select pa.parent_id from abjy_tb_parent pa, abjy_tb_child ch
        where ch.parent_id = pa.parent_id
        and ch.is_delete = 0
        and pa.is_delete = 0
        and ch.child_status in(1,2)
        union
        select pa.parent_id from abjy_tb_parent pa, abjy_tb_child ch ,abjy_tb_child_contact cc
        where ch.child_id = cc.child_id
        and cc.parent_id = pa.parent_id
        and cc.is_delete = 0
        and ch.is_delete = 0
        and pa.is_delete = 0
        and ch.child_status in(1,2))t1
        group by t1.parent_id) and pt.is_delete = 0 and pt.is_lock = 1
    </select>
    <select id="getList" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">
        select ch.*,if(cd.card_id is not null,1,0) as has_card,
        if(ch.parent_id is not null ,count(cc.child_contact_id)+1,count(cc.child_contact_id))
        as contact_count
        from abjy_tb_child ch left join abjy_tb_card cd
        on cd.user_id = ch.child_id and cd.is_delete = 0
        left join (abjy_tb_child_contact cc, abjy_tb_parent pa) on cc.child_id = ch.child_id
        and cc.is_delete = 0 and cc.parent_id = pa.parent_id and pa.is_delete = 0
        where ch.is_delete = 0
        and ch.child_status = 1
        and ch.classes_id = #{classesId}
        group by ch.child_id
    </select>
    <!--    <select id="getAddressList" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">-->
    <!--        select child_id,child_name,classes_id,parent_id,parent_name,max(is_login) as is_login  from(-->
    <!--        select ch.child_id,ch.child_name, ch.classes_id,pa.parent_id,pa.parent_name,pa.is_login-->
    <!--        from abjy_tb_child ch, abjy_tb_parent pa-->
    <!--        where ch.is_delete = 0-->
    <!--        and ch.child_status = 1-->
    <!--        and pa.is_delete = 0-->
    <!--        and ch.parent_id = pa.parent_id-->
    <!--        and ch.classes_id = #{classesId}-->
    <!--        union-->
    <!--        select ch.child_id,ch.child_name,ch.classes_id, pa.parent_id,pa.parent_name,pa.is_login-->
    <!--        from abjy_tb_child ch ,abjy_tb_child_contact cc,abjy_tb_parent pa-->
    <!--        where ch.is_delete = 0-->
    <!--        and pa.is_delete = 0 and pa.parent_id = cc.parent_id and cc.is_delete = 0 and ch.child_status = 1-->
    <!--        and ch.child_id = cc.child_id-->
    <!--        and ch.classes_id = #{classesId}-->
    <!--        ) t1 group by child_id-->
    <!--    </select>-->
    <select id="getAddressList" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">
        select child_id,child_name,classes_id,ifnull(parent_id,'noPhone') as parent_id,parent_name,max(is_login) as is_login  from(
        select ch.child_id,ch.child_name, ch.classes_id,pa.parent_id,pa.parent_name,pa.is_login
        from abjy_tb_child ch left join abjy_tb_parent pa
		on pa.is_delete = 0
        and ch.parent_id = pa.parent_id
        where ch.is_delete = 0
        and ch.child_status = 1
        and ch.classes_id = #{classesId}
        union
        select ch.child_id,ch.child_name,ch.classes_id, pa.parent_id,pa.parent_name,pa.is_login
        from abjy_tb_child ch left join (abjy_tb_child_contact cc,abjy_tb_parent pa)
        on pa.is_delete = 0 and pa.parent_id = cc.parent_id and cc.is_delete = 0
        and ch.child_id = cc.child_id
        where ch.is_delete = 0 and ch.child_status = 1
        and ch.classes_id = #{classesId}
        ) t1 group by child_id
    </select>
    <select id="getParentByChildIds" resultType="com.knowswift.myspringboot.bean.user.vo.UserVO">

        select pa.parent_id, pa.parent_name,pa.parent_phone, ch.child_id, open_id, is_focus_subscription, subscription_open_id
        from abjy_tb_child ch, abjy_tb_parent pa
        where ch.is_delete = 0
        and pa.is_delete = 0
        and ch.parent_id = pa.parent_id
        and ch.child_id in (${childIds})
        union
        select pa.parent_id, pa.parent_name,pa.parent_phone, ch.child_id, open_id, is_focus_subscription, subscription_open_id
        from abjy_tb_child ch ,abjy_tb_child_contact cc,abjy_tb_parent pa where ch.is_delete = 0
        and pa.is_delete = 0 and pa.parent_id = cc.parent_id and cc.is_delete = 0
        and ch.child_id = cc.child_id and cc.child_id in (${childIds})

    </select>
    <select id="getChildAddress" resultType="com.knowswift.myspringboot.bean.user.vo.UserVO">
        select pt.parent_id, if(pt.parent_phone is not null ,concat(ch.child_name,ch.relation_name),null) as parent_name, pt.parent_avatar,ch.relation_id,
        ifnull(pt.parent_phone,"noPhone") as parent_phone, ch.child_id, pt.is_focus_subscription, pt.subscription_open_id, pt.face_image_url, pt.is_ban_moment, pt.is_login
        ,ch.relation_name ,1 as first_contact from abjy_tb_child ch left join abjy_tb_parent pt
        on ch.parent_id = pt.parent_id and pt.is_delete = 0
        where ch.is_delete = 0
        and ch.child_id = #{childId}
        union
        select pt.parent_id, concat(ch.child_name,cc.relation_name) as parent_name, pt.parent_avatar,cc.relation_id,
        ifnull(pt.parent_phone,"noPhone") as parent_phone, ch.child_id, pt.is_focus_subscription, pt.subscription_open_id, pt.face_image_url, pt.is_ban_moment, pt.is_login,
        cc.relation_name ,0 as first_contact from abjy_tb_child ch left join
        (abjy_tb_child_contact cc,abjy_tb_parent pt) on pt.parent_id = cc.parent_id and cc.is_delete = 0
        and pt.is_delete = 0
        and ch.child_id = cc.child_id
        where ch.is_delete = 0 and cc.child_id = #{childId}
    </select>
</mapper>