<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.customer.mapper.TeacherClassesMapper">

    <select id="getClassesByTeacherId" resultType="com.cqyz.aibeijiayuan.bean.classes.vo.ClassesVO">
        SELECT cl.classes_id,concat(ga.grade_name,cl.classes_name)as classes_name FROM abjy_tb_classes cl ,abjy_tb_teacher_classes tc,
            abjy_tb_grade ga, abjy_tb_teacher th
        where cl.classes_id = tc.classes_id
        and ga.grade_id = cl.grade_id
        and th.teacher_id = tc.teacher_id
        and th.kindergarten_id = cl.kindergarten_id
        and tc.is_delete = 0 and cl.is_delete = 0 AND cl.is_graduate = 0
        and ga.is_delete = 0
        and tc.teacher_id = #{id}
    </select>

    <select id="getActivation" resultType="com.cqyz.aibeijiayuan.bean.classes.vo.ClassesVO">
        select t2.*,count(t3.child_id) as child_count from
        (select ga.grade_name,cl.classes_name,cl.classes_id, count(a.child_id) as login_count
        from (abjy_tb_classes cl,abjy_tb_grade ga )
        left join (
        select * from(
        select ch.child_id,ch.child_name, ch.classes_id,pa.parent_id,pa.parent_name,pa.is_login
        from abjy_tb_child ch, abjy_tb_parent pa
        where ch.is_delete = 0
        and ch.child_status = 1
        and pa.is_delete = 0
        and ch.parent_id = pa.parent_id
        and pa.is_login = 1
        and ch.kindergarten_id = #{kindergartenId}
        union
        select ch.child_id,ch.child_name,ch.classes_id, pa.parent_id,pa.parent_name,pa.is_login
        from abjy_tb_child ch ,abjy_tb_child_contact cc,abjy_tb_parent pa
        where ch.is_delete = 0
        and pa.is_delete = 0 and pa.parent_id = cc.parent_id and cc.is_delete = 0 and ch.child_status = 1
        and ch.child_id = cc.child_id and pa.is_login = 1 and ch.kindergarten_id = #{kindergartenId}
        ) t1 group by child_id
        ) a on  a.classes_id = cl.classes_id
        where cl.grade_id = ga.grade_id
        and cl.is_delete = 0
        and cl.is_graduate = 0
        and ga.is_delete = 0
        and cl.kindergarten_id = #{kindergartenId}
        group by cl.classes_id) t2 left join abjy_tb_child t3 on t2.classes_id = t3.classes_id and t3.is_delete = 0 and t3.child_status = 1
        group by t2.classes_id
    </select>

    <select id="getChildCount" resultType="java.lang.Integer">
        select count(*) from abjy_tb_child where child_status = 1 and is_delete = 0 and kindergarten_id = #{kindergartenId}
    </select>
    <select id="getTeacherByClassesId" resultType="com.knowswift.myspringboot.bean.customer.vo.CustomerVO">
        SELECT te.* FROM abjy_tb_teacher_classes tc,abjy_tb_classes cl ,abjy_tb_teacher te
        where cl.classes_id = tc.classes_id  and cl.is_delete = 0 and tc.is_delete = 0
        and tc.teacher_id = te.teacher_id and te.is_delete = 0 and te.teacher_status = 1
        and cl.kindergarten_id = te.kindergarten_id
        and cl.classes_id = #{classesId}
        order by te.role
    </select>
    <select id="getClassesList" resultType="com.cqyz.aibeijiayuan.bean.classes.vo.ClassesVO">
        SELECT cl.classes_id,concat(ga.grade_name,cl.classes_name)as classes_name FROM abjy_tb_classes cl ,abjy_tb_grade ga
        where  ga.grade_id = cl.grade_id
        and cl.is_delete = 0 AND cl.is_graduate = 0
        and ga.is_delete = 0
        and cl.kindergarten_id = #{kindergartenId}
    </select>
    <select id="getById" resultType="com.cqyz.aibeijiayuan.bean.classes.vo.ClassesVO">
        select cl.classes_id , cl.classes_name ,gr.grade_name from abjy_tb_classes cl, abjy_tb_grade gr where cl.is_delete = 0
        and gr.grade_id = cl.grade_id and cl.classes_id = #{classesId}
    </select>
    <select id="getNoLogin" resultType="com.knowswift.myspringboot.bean.user.vo.UserVO">
        select pa.* from abjy_tb_child ch, abjy_tb_parent pa
        where ch.is_delete = 0
        and ch.child_status = 1
        and pa.is_delete = 0
        and pa.is_lock = 0
        and pa.is_login = 0
        and ch.parent_id = pa.parent_id
        and ch.classes_id = #{classesId}
        union
        select pa.* from abjy_tb_child ch ,abjy_tb_child_contact cc,abjy_tb_parent pa
        where ch.is_delete = 0 and ch.child_status = 1
        and pa.is_delete = 0 and pa.parent_id = cc.parent_id and cc.is_delete = 0
        and pa.is_lock = 0
        and pa.is_login = 0
        and ch.classes_id = #{classesId}
    </select>
</mapper>