<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.customer.mapper.TeacherChildContactMapper">

    <select id="getList" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildContactVO">
        select cc.*,pa.parent_phone from abjy_tb_child_contact cc , abjy_tb_parent pa where cc.is_delete = 0 and pa.is_delete = 0
        and cc.parent_id = pa.parent_id
        and cc.child_id = #{childId}
    </select>
</mapper>