<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.user.mapper.ParentChildMapper">

    <select id="getChildByParentId" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">
        select t1.*,cl.classes_name,gd.grade_name,kg.kindergarten_name from
        (SELECT ch.child_id, ch.child_name, ch.child_number, ch.kindergarten_id, ch.classes_id,
        ch.child_sex,1 as first_contact, ch.child_birthday, ch.child_avatar,kg.kindergarten_name,
        ch.child_leave_time, ch.child_status,ch.parent_id, ch.relation_name from abjy_tb_child ch , abjy_tb_kindergarten
        kg
        where ch.parent_id = #{parentId} and ch.is_delete = 0
        <if test=" all == 0 ">
            and ch.child_status in(1,2)
        </if>
        and ch.kindergarten_id = kg.kindergarten_id
        union
        select ch.child_id,ch.child_name, ch.child_number, ch.kindergarten_id, ch.classes_id, ch.child_sex, 0 as
        first_contact,
        ch.child_birthday, ch.child_avatar,
        kg.kindergarten_name,ch.child_leave_time, ch.child_status,ch.parent_id, ct.relation_name
        from abjy_tb_child_contact ct, abjy_tb_child ch, abjy_tb_kindergarten kg
        where ct.child_id = ch.child_id and ct.parent_id = #{parentId} and ch.is_delete = 0
        <if test=" all == 0 ">
            and ch.child_status in(1,2)
        </if>
        and ch.kindergarten_id = kg.kindergarten_id
        and ct.is_delete = 0) t1,
        abjy_tb_classes cl,abjy_tb_grade gd,abjy_tb_kindergarten kg
        where t1.classes_id = cl.classes_id and cl.kindergarten_id = kg.kindergarten_id
        and gd.grade_id = cl.grade_id
        and cl.is_delete = 0 and gd.is_delete= 0

    </select>
    <select id="getChild" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">
        select * from (SELECT ch.child_id , ch.child_name, ch.relation_name,ch.child_avatar, 1 as first_contact
        FROM abjy_tb_child ch, abjy_tb_parent pa where ch.parent_id = pa.parent_id
        and ch.child_id = #{childId} and pa.parent_id = #{parentId}
        and ch.is_delete = 0 and ch.child_status in (1,2)
        union
        select ch.child_id , ch.child_name, cc.relation_name,ch.child_avatar, 0 as first_contact
        from  abjy_tb_child ch, abjy_tb_parent pa ,abjy_tb_child_contact cc
        where ch.child_id = cc.child_id and pa.parent_id = cc.parent_id
        and ch.is_delete = 0 and ch.child_status in (1,2)
        and cc.is_delete = 0
        and pa.is_delete = 0
        and ch.child_id = #{childId} and pa.parent_id = #{parentId}) t1 limit 1
    </select>
    <select id="getChildByParentIdAndClassesId" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">
        SELECT child_id,kindergarten_id from abjy_tb_child
        where parent_id = #{parentId} and is_delete = 0
        and child_status = 1 and classes_id in (${ids})
        union
        select ch.child_id, ch.kindergarten_id
        from abjy_tb_child_contact ct, abjy_tb_child ch
        where ct.child_id = ch.child_id and ct.parent_id = #{parentId} and ch.is_delete = 0 and ch.child_status = 1
        and ct.is_delete = 0 and ch.classes_id in (${ids})
    </select>
    <select id="getChildIds" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">
        SELECT child_id,kindergarten_id from abjy_tb_child
        where parent_id = #{parentId} and is_delete = 0
        and child_status = 1
        union
        select ch.child_id, ch.kindergarten_id
        from abjy_tb_child_contact ct, abjy_tb_child ch
        where ct.child_id = ch.child_id and ct.parent_id = #{parentId} and ch.is_delete = 0 and ch.child_status = 1
        and ct.is_delete = 0
    </select>
</mapper>