<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.user.mapper.ParentNoticeMapper">

    <resultMap id="NoticeVo" type="com.cqyz.aibeijiayuan.bean.notice.vo.NoticeVO">
        <result column="notice_target_children" property="noticeTargetChildren" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result column="notice_target" property="noticeTarget" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result column="notice_picture" property="noticePicture" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result column="vote_option" property="voteOption" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result column="vote" property="vote" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>

    <select id="getNoticeList" resultMap="NoticeVo">

        select n.*,c.child_name,l.notice_log_id, l.is_read, t.teacher_name as send_name,l.join_status, l.vote from abjy_tb_notice n , abjy_tb_notice_log l, abjy_tb_teacher t, abjy_tb_child c
        where l.notice_id = n.notice_id and l.target_id = c.child_id and t.teacher_id = n.teacher_id
        and n.is_delete = 0 and l.parent_id = #{parentId}
        order by l.is_read, n.create_time desc
    </select>

    <select id="getNoticeDetail" resultMap="NoticeVo">
        select n.*,t.teacher_name  as send_name,k.kindergarten_name,l.notice_log_id,l.target_id,l.join_status, l.vote,ch.child_name
        from abjy_tb_notice n, abjy_tb_teacher t,abjy_tb_notice_log l, abjy_tb_kindergarten k, abjy_tb_child ch
        where n.teacher_id = t.teacher_id
        and t.kindergarten_id = k.kindergarten_id
        and n.notice_id = l.notice_id
        and l.parent_id = #{parentId}
        and ch.child_id = l.target_id
        and n.is_delete = 0 and l.notice_log_id = #{noticeLogId}
    </select>
</mapper>