<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.user.mapper.ParentMomentMapper">
    <resultMap id="MomentVO" type="com.cqyz.aibeijiayuan.bean.moment.vo.MomentVO">
        <result column="moment_picture" property="momentPicture" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result column="classes_name" property="classesName" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result column="child_name" property="childName" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>
    <select id="getMomentList" resultMap="MomentVO">
        SELECT
        *
        FROM
        abjy_tb_moment m,
        (select * from (SELECT teacher_id as user_id ,teacher_name as `author_name`,teacher_avatar as author_avatar FROM abjy_tb_teacher
        union SELECT pa.parent_id as user_id,if(pa.parent_id = #{myId},pa.parent_name, concat(ch.child_name,cc.relation_name)) as author_name,pa.parent_avatar
        FROM
        abjy_tb_parent pa, abjy_tb_child ch, abjy_tb_child_contact cc
        WHERE
        cc.child_id = ch.child_id and ch.child_status in (1,2) and cc.is_delete = 0 and ch.is_delete = 0
            AND pa.parent_id = cc.parent_id
            AND ch.classes_id = #{classId}
        UNION SELECT
        pa.parent_id,if(pa.parent_id = #{myId},pa.parent_name, concat(ch.child_name,ch.relation_name)) as author_name,pa.parent_avatar
        FROM
        abjy_tb_parent pa, abjy_tb_child ch
        WHERE
        ch.parent_id = pa.parent_id and ch.child_status in (1,2) and ch.is_delete = 0
            AND ch.classes_id = #{classId}
        )b group by user_id ) a
        WHERE
        JSON_CONTAINS(moment_publish_classes_ids, #{classesId})
        AND m.moment_author_id = a.user_id
        AND (m.is_hide = 0 or m.moment_author_id =#{myId})
        AND m.is_delete = 0 and m.moment_type = #{type}
        order by m.create_time desc
    </select>

    <select id="getComment" resultType="com.cqyz.aibeijiayuan.bean.comment.vo.CommentVO">
        select c.*,a.author_name from abjy_tb_comment c,
        (select * from (SELECT teacher_id as user_id ,teacher_name as `author_name` FROM abjy_tb_teacher
        union SELECT pa.parent_id as user_id, if(pa.parent_id = #{myId},pa.parent_name, concat(ch.child_name,cc.relation_name)) as author_name
        FROM
        abjy_tb_parent pa, abjy_tb_child ch, abjy_tb_child_contact cc
        WHERE
        cc.child_id = ch.child_id and ch.child_status in (1,2) and cc.is_delete = 0 and ch.is_delete = 0
            AND pa.parent_id = cc.parent_id
            AND ch.classes_id = #{classId}
        UNION SELECT
        pa.parent_id, if(pa.parent_id = #{myId},pa.parent_name, concat(ch.child_name,ch.relation_name)) as parent_name
        FROM
        abjy_tb_parent pa, abjy_tb_child ch
        WHERE
        ch.parent_id = pa.parent_id and ch.child_status in (1,2) and ch.is_delete = 0
            AND ch.classes_id = #{classId}
        )b group by user_id ) a
        where `c`.upper_id = #{id}
        and `c`.comment_author_id = a.user_id
        and (`c`.is_hide = 0 or c.comment_author_id =#{myId}) and `c`.is_delete = 0
    </select>

    <select id="getLikes" resultType="com.cqyz.aibeijiayuan.bean.like.vo.LikeVO">
        select a.* from abjy_tb_like c,
        (select * from ((SELECT teacher_id as like_user_id ,teacher_name as `author_name` FROM abjy_tb_teacher)
        union SELECT pa.parent_id as like_user_id, if(pa.parent_id = #{myId},pa.parent_name, concat(ch.child_name,cc.relation_name)) as author_name
        FROM
        abjy_tb_parent pa, abjy_tb_child ch, abjy_tb_child_contact cc
        WHERE
        cc.child_id = ch.child_id and ch.child_status in (1,2) and cc.is_delete = 0 and ch.is_delete = 0
            AND pa.parent_id = cc.parent_id
            AND ch.classes_id = #{classId}
        UNION SELECT
        pa.parent_id, if(pa.parent_id = #{myId},pa.parent_name, concat(ch.child_name,ch.relation_name)) as parent_name
        FROM
        abjy_tb_parent pa, abjy_tb_child ch
        WHERE
        ch.parent_id = pa.parent_id and ch.child_status in (1,2) and ch.is_delete = 0
        AND ch.classes_id = #{classId}
        )b group by like_user_id ) a
        where c.like_user_id = a.like_user_id  and c.moment_id = #{momentId}

    </select>

    <select id="getMyMomentList" resultMap="MomentVO">
        SELECT m.*, pa.parent_name as author_name,pa.parent_avatar as author_avatar,
        concat('[',concat(group_concat(concat('"',concat(concat(ga.grade_name,cl.classes_name),'"'))),']') ) as classes_name
        FROM abjy_tb_moment m,abjy_tb_classes cl,abjy_tb_grade ga,abjy_tb_parent pa
        WHERE JSON_CONTAINS(moment_publish_classes_ids, concat('"',concat(cl.classes_id,'"')))
        AND m.moment_author_id =#{myId}
        and cl.grade_id = ga.grade_id
        and pa.parent_id = m.moment_author_id
        AND m.is_delete = 0 and m.moment_type = 1
        group by m.moment_id
        order by m.create_time desc
    </select>

    <select id="getMomentMsg" resultMap="MomentVO">
        select * from (
        select moment_id, moment_author_id, moment_content, moment_picture, moment_video, moment_type,moment_publish_time from abjy_tb_moment
        union
        select comment_id, comment_author_id, comment_content, null,null,6 ,comment_publish_time from abjy_tb_comment)mot
        ,(
        select comment_id, upper_id, comment_author_id, comment_content, comment_publish_time,1 as msg_type from abjy_tb_comment where is_delete = 0
        union
        select like_id, moment_id,like_user_id, null,like_time, 2 from abjy_tb_like where is_delete = 0)t1,
        (select * from ((SELECT teacher_id as user_id ,teacher_name as `author_name`,teacher_avatar as `author_avatar` FROM abjy_tb_teacher)
        union SELECT pa.parent_id as user_id, if(pa.parent_id = #{parentId},pa.parent_name, concat(ch.child_name,cc.relation_name)) as parent_name,pa.parent_avatar as `author_avatar`
        FROM abjy_tb_parent pa, abjy_tb_child ch, abjy_tb_child_contact cc
        WHERE cc.child_id = ch.child_id AND pa.parent_id = cc.parent_id  and ch.child_status in (1,2) and cc.is_delete = 0 and ch.is_delete = 0
        UNION SELECT pa.parent_id,if(pa.parent_id = #{parentId},pa.parent_name, concat(ch.child_name,ch.relation_name)) as parent_name,pa.parent_avatar as `author_avatar` FROM abjy_tb_parent pa, abjy_tb_child ch
        WHERE ch.parent_id = pa.parent_id and ch.is_delete = 0 and ch.child_status in (1,2))b group by user_id ) t2
        where t1.comment_author_id = t2.user_id
        and mot.moment_id = t1.upper_id
        and mot.moment_author_id = #{parentId}
        order by t1.comment_publish_time desc
    </select>
    <select id="getMomentMsgCount" resultType="java.lang.Integer">
        select count(*) from (
        select moment_id, moment_author_id, moment_content, moment_picture, moment_video, moment_type from abjy_tb_moment
        union
        select comment_id, comment_author_id, comment_content, null,null,6  from abjy_tb_comment)mot
        ,(
        select comment_id, upper_id, comment_author_id, comment_content, comment_publish_time,1 as msg_type from abjy_tb_comment where is_read = 0 and is_delete = 0
        union
        select like_id, moment_id,like_user_id, null,like_time, 2 from abjy_tb_like where is_read = 0 and is_delete = 0)t1
        where mot.moment_id = t1.upper_id
        and mot.moment_author_id = #{parentId}
    </select>

    <select id="getMomentByClassesId" resultMap="MomentVO">
        SELECT mo.* FROM abjy_tb_moment mo, abjy_tb_teacher th
        WHERE JSON_CONTAINS(mo.moment_publish_classes_ids, #{classesId})
        AND mo.is_delete = 0 and mo.is_hide = 0
        and mo.moment_type = 1
        and mo.moment_author_id = th.teacher_id
        order by mo.moment_publish_time
    </select>
    <select id="getById" resultMap="MomentVO">
        SELECT * FROM abjy_tb_moment m,
        (select * from (SELECT teacher_id as user_id ,teacher_name as `author_name`,teacher_avatar as author_avatar FROM
        abjy_tb_teacher
        union SELECT pa.parent_id as user_id, if(pa.parent_id = #{myId},pa.parent_name, concat(ch.child_name,cc.relation_name)) as author_name,pa.parent_avatar
        FROM
        abjy_tb_parent pa, abjy_tb_child ch, abjy_tb_child_contact cc
        WHERE
        cc.child_id = ch.child_id
        AND pa.parent_id = cc.parent_id
        UNION SELECT
        pa.parent_id,if(pa.parent_id = #{myId},pa.parent_name, concat(ch.child_name,ch.relation_name)) as author_name,pa.parent_avatar
        FROM
        abjy_tb_parent pa, abjy_tb_child ch
        WHERE
        ch.parent_id = pa.parent_id
        )b group by user_id ) a
        WHERE m.moment_author_id = a.user_id
        AND (m.is_hide = 0 or m.moment_author_id =#{myId})
        AND m.is_delete = 0 and m.moment_id = #{momentId}
    </select>
    <select id="getWorks" resultMap="MomentVO">
        select * from abjy_tb_moment where JSON_CONTAINS(moment_publish_classes_ids,CONCAT('"', #{classesId},'"')) and moment_type =3 and is_delete = 0
    </select>
    <select id="getWorkDetails" resultMap="MomentVO">
        select mo.*,concat('[',GROUP_CONCAT(CONCAT('"',ch.child_name,'"')),']') as child_name
        from abjy_tb_moment mo, abjy_tb_child ch
        where JSON_CONTAINS(mo.works_child_ids, CONCAT('"',ch.child_id,'"')) and mo.moment_type =3
        and mo.moment_id = #{momentId}
    </select>
</mapper>