<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.user.mapper.ParentChildAttendanceMapper">

    <select id="getAskForLeaveList" resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.ChildAttendanceVO">
        select ca.*,gd.grade_name,cl.classes_name,ch.child_name from abjy_tb_child_attendance ca, abjy_tb_child ch , abjy_tb_classes cl,abjy_tb_grade gd
        where ca.child_id = ch.child_id and ca.parent_id = #{parentId}
        and ca.is_delete = 0 and ch.is_delete = 0
        and ca.classes_id = cl.classes_id and gd.grade_id = cl.grade_id
        and gd.is_delete = 0
        and ca.record_type = 3 and ca.ask_for_leave_status in (2,4)
        order by ca.ask_time desc
    </select>
    <select id="getAskForLeaveById" resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.ChildAttendanceVO">
        select ca.*,gd.grade_name,cl.classes_name,ch.child_name from abjy_tb_child_attendance ca, abjy_tb_child ch , abjy_tb_classes cl,abjy_tb_grade gd
        where ca.child_id = ch.child_id
        and ca.is_delete = 0 and ch.is_delete = 0
        and ca.classes_id = cl.classes_id and gd.grade_id = cl.grade_id
        and ga.is_delete = 0
        and ca.record_type = 3 and ca.ask_for_leave_status in (2,4)
        AND ca.child_attendance_id = #{childAttendanceId}
    </select>
    <select id="check" resultType="java.lang.Integer">
        SELECT count(*) FROM abjy_tb_child_attendance
        where is_delete = 0
        and record_type = 3
        and child_id = #{childId}
        and (record_time between #{startTime} and #{endTime}
         or end_time  between #{startTime} and #{endTime} )
    </select>
</mapper>