<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.user.mapper.ParentChargeOrderMapper">

    <resultMap id="ChargeVO" type="com.cqyz.aibeijiayuan.bean.charge.vo.ChargeVO">
        <result column="charge_project" property="chargeProject" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>

    <resultMap id="ChargeOrderVO" type="com.cqyz.aibeijiayuan.bean.charge.vo.ChargeOrderVO">
        <result column="charge_project" property="chargeProject" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>

    <select id="getList" resultMap="ChargeVO">
        select kg.kindergarten_name,gr.grade_name,cl.classes_name,t1.child_name,cg.teacher_name,
        cg.charge_name,cg.charge_total_amount,cg.charge_remark,co.charge_order_id,co.pay_status,cg.charge_project,cg.create_time,
        co.pay_time,co.pay_way
        from abjy_tb_charge_order co ,abjy_tb_charge cg ,
        <if test="childId==null or childId==''">
            (
            SELECT child_id,child_name,classes_id from abjy_tb_child ch
            where parent_id = #{parentId} and is_delete = 0
            union
            select ch.child_id,ch.child_name,ch.classes_id from abjy_tb_child_contact ct, abjy_tb_child ch
            where ct.child_id = ch.child_id and ct.parent_id = #{parentId} and ch.is_delete = 0
            and ct.is_delete = 0)t1,
        </if>
        <if test="childId!=null and childId!=''">
            abjy_tb_child t1,
        </if>
        abjy_tb_kindergarten kg,abjy_tb_classes cl,abjy_tb_grade gr
        where co.charge_id = cg.charge_id
        and co.child_id = t1.child_id
        <if test="childId!=null and childId!=''">
            and t1.child_id = #{childId}
        </if>
        and cg.is_delete = 0
        and co.is_delete = 0
        and cg.kindergarten_id= kg.kindergarten_id
        and t1.classes_id = cl.classes_id
        and cl.grade_id = gr.grade_id
        and gr.is_delete = 0
        <if test="payStatus!=null and payStatus!=0">
            and co.pay_status = #{payStatus}
        </if>
        group by charge_order_id
        order by cg.create_time desc

    </select>
    <select id="getChargeOrderById" resultMap="ChargeOrderVO">
        select cg.charge_id,cg.charge_name,cg.charge_total_amount,cg.charge_remark,co.charge_order_id,co.pay_status,cg.kindergarten_id,cg.charge_project
        from abjy_tb_charge_order co,abjy_tb_charge cg
        where co.charge_id = cg.charge_id
        and co.charge_order_id = #{chargeOrderId}
        and co.is_delete = 0 and cg.is_delete = 0
    </select>
</mapper>