<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.kindergarten.mapper.KindergartenChargeOrderMapper">


    <select id="getListByChargeId" resultType="com.cqyz.aibeijiayuan.bean.charge.vo.ChargeOrderVO">
        select co.charge_order_id, co.classes_id, ch.child_id, ch.child_name,ch.child_avatar,co.pay_status,co.pay_way,co.pay_time,co.pay_remark
        from abjy_tb_charge_order co, abjy_tb_child ch
        where co.child_id = ch.child_id and co.is_delete = 0 and co.charge_id = #{chargeId}
        order by co.pay_status
    </select>
</mapper>