<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.kindergarten.mapper.KindergartenTeacherMapper">

    <resultMap id="TeacherVO" type="com.knowswift.myspringboot.bean.customer.vo.CustomerVO">
        <result column="classes_name_list" property="classesNameList" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>

    <select id="getTeacherInfoList" resultMap="TeacherVO">
        select * from (select th.*,concat('[',concat(if(cl.classes_id is not null,
        GROUP_CONCAT(json_object('gradeName',gr.grade_name,'className',cl.classes_name)),''),']')) as classes_name_list,
        GROUP_CONCAT(cl.classes_id) as classes_ids,
        ca.card_external_code,ca.card_status from abjy_tb_teacher th
        left join (abjy_tb_classes cl,abjy_tb_teacher_classes tl,abjy_tb_grade gr)
        on th.teacher_id = tl.teacher_id and tl.classes_id = cl.classes_id and tl.is_delete = 0 and cl.is_delete = 0 and
        gr.grade_id = cl.grade_id and cl.is_graduate = 0 and gr.is_delete = 0 and cl.kindergarten_id = #{kindergartenId}
        left join abjy_tb_card ca on ca.card_id = th.card_id and ca.card_status in (3,4)
        where th.is_delete = 0 and th.teacher_status = 1 and th.kindergarten_id = #{kindergartenId}
        group by th.teacher_id
        order by th.create_time)a
        where a.is_delete = 0
        <if test="classesId!=null and classesId!=''">
            and a.classes_ids like concat('%',concat(#{classesId},'%'))
        </if>
        <if test="teacherName!=null and teacherName !=''">
            and a.teacher_name like concat('%',concat(#{teacherName},'%'))
        </if>
        <if test="teacherPhone!=null and teacherPhone !=''">
            and a.teacher_phone like concat('%',concat(#{teacherPhone},'%'))
        </if>
        order by a.create_time desc
    </select>

    <select id="getClassesNameList" resultType="com.cqyz.aibeijiayuan.bean.classes.po.Classes">

        select *
        from
        abjy_tb_classes
        where abjy_tb_classes.is_delete=0 and
        JSON_CONTAINS(classes_teacher_ids,#{teacherId})
        <if test="classesName != null ">
            and abjy_tb_classes.classes_name = #{classesName}
        </if>
        order by abjy_tb_classes.create_time desc

    </select>


    <select id="findTeacherInfoByAccount" resultType="com.knowswift.myspringboot.bean.customer.vo.CustomerVO">
        select
        abjy_tb_teacher.*,
        case teacher_role
        when 'ROLE_ADMIN' then '集中平台管理员'
        when 'ROLE_MANAGER' then '幼儿园管理人'
        when 'ROLE_TEACHER' then '教师'
        when 'ROLE_PARENT' then '家长'
        end 'permission'
        FROM abjy_tb_teacher
        where abjy_tb_teacher.is_delete = 0
        and teacher_phone = #{phone};
    </select>
    <select id="getTeachers" resultType="com.knowswift.myspringboot.bean.customer.vo.CustomerVO">
        select th.* from abjy_tb_teacher th left join abjy_tb_card ca on
        th.card_id = ca.card_id and ca.user_id = th.teacher_id
        <if test="code!=null and code !=''">
            and ca.card_external_code like concat('%',concat(#{code},'%'))
        </if>
        where
        th.is_delete = 0 and th.teacher_status = 1 and
        th.kindergarten_id = #{kindergartenId}
        <if test="name!=null and name !=''">
            and th.teacher_name like concat('%',concat(#{name},'%'))
        </if>
        order by th.teacher_id
    </select>

</mapper>
