<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.kindergarten.mapper.KindergartenTeacherAttendanceMapper">

    <select id="getTodayCount" resultType="java.lang.Integer">
        select count(*) from abjy_tb_teacher_attendance where teacher_id = #{teacherId} and date_format(record_time,'%Y-%m-%d') = #{dateStr}
    </select>
    <select id="getListByMonth" resultType="com.cqyz.aibeijiayuan.bean.attendance.vo.TeacherAttendanceVO">
        select *,date_format(record_time,'%Y-%m-%d') as `day`
        from abjy_tb_teacher_attendance
        where is_delete = 0
        and (ask_for_leave_status is null or ask_for_leave_status in (2,4) or is_edit = 1)
        and kindergarten_id = #{kindergartenId}
        and date_format(record_time,'%Y-%m') = #{month}
    </select>
    <select id="getByDay" resultType="com.cqyz.aibeijiayuan.bean.attendance.po.TeacherAttendance">
        select * from abjy_tb_teacher_attendance where is_delete = 0 and date_format(record_time,'%Y-%m-%d') = #{from} and teacher_id = #{teacherId} and is_edit = 1
    </select>
</mapper>