<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.kindergarten.mapper.KindergartenParentMapper">
    <update id="lock">
        update abjy_tb_parent set is_lock = 1 where parent_id = #{parentId}
    </update>


    <select id="getByPhone" resultType="com.knowswift.myspringboot.bean.user.po.User">
        select * from abjy_tb_parent where is_delete = 0 and parent_phone = #{phone}
    </select>
</mapper>
