<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.kindergarten.mapper.KindergartenChildMapper">

    <resultMap id="ChildVo" type="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">
        <result column="other_contact" property="otherContact" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result column="card_list" property="cardList" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>

    <select id="getChildList" resultMap="ChildVo">
        select * from (select a.*, concat('[',if(cc2.child_contact_id is not
        null,concat(group_concat(json_object('relationName',cc2.relation_name,'relationId',cc2.relation_id,
        'parentPhone',pa2.parent_phone,'isLogin',pa2.is_login,'isVideoActive',pa2.is_video_active))),''),']') as
        other_contact
        from (select ch.*, cl.classes_name ,gd.grade_name,pa.is_login,pa.is_video_active,
        if(ca.card_id is not null,
        concat('[',concat(group_concat(json_object('cardExternalCode',ca.card_external_code,'cardStatus',ca.card_status,'cardId',ca.card_id)),']')),null)
        as card_list
        from (abjy_tb_child ch, abjy_tb_classes cl, abjy_tb_grade gd)
        left join abjy_tb_parent pa on ch.parent_id = pa.parent_id
        left join abjy_tb_card ca on ch.child_id = ca.user_id and ca.is_delete = 0 and ca.card_status != 5
        where ch.is_delete = 0
        and ch.child_status = 1
        and ch.kindergarten_id = #{kindergartenId}
        and ch.classes_id = cl.classes_id
        and gd.grade_id = cl.grade_id
        and gd.is_delete = 0
        <if test="childName!=null and childName != '' ">
            and ch.child_name like CONCAT('%',CONCAT(#{childName},'%'))
        </if>
        <if test="classesId != null and classesId != ''">
            and ch.classes_id = #{classesId}
        </if>
        group by ch.child_id
        order by ch.create_time desc) a
        left join (abjy_tb_child_contact cc2,abjy_tb_parent pa2)
        on cc2.child_id = a.child_id and cc2.parent_id = pa2.parent_id
        and cc2.is_delete = 0
        group by a.child_id
        order by a.create_time desc)b
        where b.is_delete = 0
        <if test="phone != null and phone != '' ">
            and( b.parent_phone like CONCAT('%',CONCAT(#{phone},'%'))
            or b.other_contact like CONCAT('%',CONCAT(#{phone},'%')))
        </if>
        <if test="isLogin==1">
            and b.is_login = 0 and (json_contains(b.other_contact -> "$[*].isLogin",'1') = 0
            or b.other_contact is null or b.other_contact = '[]')
        </if>
        <if test="isLogin==2">
            and b.is_login = 1 or json_contains(b.other_contact -> "$[*].isLogin",'1') = 1
        </if>
        order by b.create_time desc
    </select>

    <select id="getByKindergartenAndNumber" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">

        select * from abjy_tb_child
        where kindergarten_id = #{kindergartenId}
        and child_number = #{childNumber}
        and is_delete = 0
    </select>

    <select id="getChildren" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">
        SELECT * from ( select
        ad.child_id,ch.child_name
        FROM
        abjy_tb_child_attendance ad ,abjy_tb_child ch
        WHERE
        ad.is_delete = 0 and ch.is_delete = 0
        and ch.child_status = 1
        and ch.child_id = ad.child_id
        and  ch.kindergarten_id = #{kindergartenId}
        and ch.classes_id = #{classesId} and date_format(ad.record_time,'%Y-%m') = #{month}
        union
        select child_id,child_name
        from abjy_tb_child where is_delete = 0 and child_status = 1 and  kindergarten_id = #{kindergartenId} and classes_id = #{classesId}
        ) t1
        group by t1.child_id
        order by t1.child_id
    </select>

    <select id="getRemoveList" resultType="com.cqyz.aibeijiayuan.bean.child.vo.ChildVO">
        select ch.child_id,ch.child_number,ch.child_name,ch.relation_name,ch.parent_phone,ch.child_status,
        cl.classes_name, ga.grade_name
        from abjy_tb_child ch,abjy_tb_classes cl , abjy_tb_grade ga
        where ch.is_delete = 0
        and ch.classes_id = cl.classes_id
        and cl.grade_id = ga.grade_id
        and ga.is_delete = 0
        and ch.kindergarten_id = #{kindergartenId}
        <if test="childStatus==null or childStatus==0">
            and ch.child_status in (2,3)
        </if>
        <if test="childStatus!=null and childStatus!=0">
            and ch.child_status = #{childStatus}
        </if>
        <if test="childName!=null and childName !='' ">
            and ch.child_name like concat('%',concat(#{childName},'%'))
        </if>
        <if test="phone!=null and phone !='' ">
            and ch.parent_phone like concat('%',concat(#{phone},'%'))
        </if>
        order by ch.child_leave_time desc
    </select>
    <select id="getByGradeId" resultType="java.lang.Integer">
        select count(*) from abjy_tb_child ch, abjy_tb_classes cl where ch.classes_id = cl.classes_id
        and ch.is_delete = 0 and ch.child_status = 1 and cl.is_delete=0 and cl.is_graduate = 0
        and cl.grade_id = #{gradeId}
    </select>

</mapper>
