<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.kindergarten.mapper.KindergartenClassesMapper">

    <resultMap id="ClassesVO" type="com.cqyz.aibeijiayuan.bean.classes.vo.ClassesVO">
        <result column="teacher_names" property="teacherNames" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>

    <select id="getClasses" resultMap="ClassesVO">
		select a.*,
        COUNT(tc.child_id) child_count
        from (select
        cs.*,
        tg.grade_name,
        concat('[',concat(if(ttr.teacher_id is not null ,
        group_concat(json_object('teacherId',ttr.teacher_id,'teacherName',ttr.teacher_name)),'')),']') teacher_names
        FROM
        (abjy_tb_classes cs,
        abjy_tb_grade tg)
        LEFT JOIN
        (abjy_tb_teacher_classes tcs,
        abjy_tb_teacher ttr)
        ON
        tcs.teacher_id = ttr.teacher_id
        and tcs.classes_id = cs.classes_id and tcs.is_delete = 0 and ttr.is_delete = 0
        where cs.is_delete = 0 and tg.is_delete = 0 and cs.grade_id = tg.grade_id
        and cs.kindergarten_id = #{kindergartenId}
        and cs.is_graduate = 0
        GROUP BY cs.classes_id
        )a
        LEFT JOIN
        abjy_tb_child tc
        ON
        a.classes_id = tc.classes_id and tc.is_delete = 0 and tc.child_status = 1
        GROUP BY a.classes_id
    </select>
    <select id="noGraduateClasses" resultType="com.cqyz.aibeijiayuan.bean.classes.vo.ClassesVO">
        select cl.classes_id,cl.classes_name ,gd.grade_name from abjy_tb_classes cl , abjy_tb_grade gd
        where cl.grade_id = gd.grade_id and cl.is_delete = 0 and gd.is_delete = 0
        and cl.kindergarten_id = #{kindergartenId}
        and cl.is_graduate = 0
    </select>

    <select id="getById" resultType="com.cqyz.aibeijiayuan.bean.classes.vo.ClassesVO">
        select cl.classes_id , cl.classes_name ,gr.grade_name from abjy_tb_classes cl, abjy_tb_grade gr where cl.is_delete = 0
        and gr.grade_id = cl.grade_id and cl.classes_id = #{classesId}
    </select>

</mapper>
