<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.kindergarten.mapper.KindergartenCardMapper">

    <select id="getList" resultType="com.cqyz.aibeijiayuan.bean.card.vo.CardVO">
        select * from abjy_tb_card
        where is_delete = 0
        <if test="cardExternalCode != null and cardExternalCode != '' ">
            and card_external_code like CONCAT('%',CONCAT(#{keyword},'%'))
        </if>
        <if test="cardInternalCode != null and cardInternalCode != '' ">
            and card_internal_code like CONCAT('%',CONCAT(#{keyword},'%'))
        </if>
        <if test="fromTime != null and fromTime != '' ">
            and create_time > #{fromTime}
        </if>
        <if test="toTime != null and toTime != '' ">
            and create_time &lt; #{toTime}
        </if>
    </select>

    <select id="getListForChild" resultType="com.cqyz.aibeijiayuan.bean.card.vo.CardVO">

        select tcard.*, tchild.child_name ,tc.classes_name, tg.grade_name, tchild.parent_phone
        FROM
        abjy_tb_card tcard , abjy_tb_child tchild, abjy_tb_classes tc, abjy_tb_grade tg
        where
        tcard.is_delete = 0 AND tchild.is_delete = 0 AND tc.is_delete = 0 AND tg.is_delete = 0
        AND
        tcard.kindergarten_id = #{kindergartenId}
        AND
        tcard.user_id = tchild.child_id
        AND
        tc.grade_id = tg.grade_id
        AND
        tchild.classes_id = tc.classes_id
        AND
        tcard.card_status in (3,4)
        AND
        tcard.user_type = 1
        <if test="cardExternalCode != null and cardExternalCode != ''">
            AND tcard.card_external_code like CONCAT('%',CONCAT(#{cardExternalCode},'%'))
        </if>
        <if test="userName != null and userName != ''">
            AND tchild.child_name like CONCAT('%',CONCAT(#{userName},'%'))
        </if>
    </select>

    <select id="getListForTeacher" resultType="com.cqyz.aibeijiayuan.bean.card.vo.CardVO">

        select tc.* , tt.teacher_name, tt.teacher_phone
        FROM
        abjy_tb_card tc , abjy_tb_teacher tt
        where
        tc.is_delete = 0 AND tt.is_delete = 0
        AND
        tc.kindergarten_id = #{kindergartenId}
        AND
        tc.user_id = tt.teacher_id
        AND
        tc.card_status in (3,4)
        AND
        tc.user_type = 2
        <if test="cardExternalCode != null and cardExternalCode != ''">
            AND tc.card_external_code like CONCAT('%',CONCAT(#{cardExternalCode},'%'))
        </if>
        <if test="userName != null and userName != ''">
            AND tt.teacher_name like CONCAT('%',CONCAT(#{userName},'%'))
        </if>
    </select>

</mapper>
