<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.blog.api.user.mapper.UserArticleMapper">
    <select id="getList" resultType="com.blog.blog.bean.article.vo.ArticleVO">
        select art.*,usr.user_nick_name,count(cmt.comment_id) as comment_count
        from (blog_tb_article art,blog_tb_user usr)
        left join blog_tb_comment cmt on cmt.target_id = art.article_id
        where art.user_id = usr.user_id and art.is_delete = 0
    </select>
</mapper>