<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowswift.myspringboot.api.admin.mapper.AdminSystemLogMapper">


    <select id="getList" resultType="com.knowswift.myspringboot.bean.system.vo.SystemLogVO">
        select system_log_id, `path`, `method`, `type`, `name`, ip, user_id, param, log_time
        from abjy_tb_system_log where is_delete = 0
        <if test="keyword!=null and keyword !=''">
            and `name` like concat('%',#{keyword},'%')
        </if>
        <if test="resultType==1">
            and `exception` is null
        </if>
        <if test="resultType==2">
            and `exception` is not null
        </if>
        <if test="platform !=null and platform != ''">
            and `path` like concat(#{platform},'%')
        </if>
        order by log_time desc
    </select>
</mapper>