<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.admin.mapper.AdminAgentMapper">

    <select id="list" resultType="com.cqyz.aibeijiayuan.bean.agent.vo.AgentVO">
        select * from abjy_tb_agent where is_delete = 0
        <if test="keyword!=null and keyword!=''">
            and (
            agent_code like concat('%',#{keyword},'%')
            or agent_name like concat('%',#{keyword},'%')
            or agent_phone like concat('%',#{keyword},'%')
            )
        </if>
        <if test="fromTime!=null and fromTime !=''">
            and create_time >= #{fromTime}
        </if>
        <if test="toTime!=null and toTime !=''">
            and create_time &lt;= #{toTime}
        </if>
        order by create_time desc
    </select>
</mapper>