<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqyz.aibeijiayuan.api.admin.mapper.AdminCameraMapper">

    <select id="list" resultType="com.cqyz.aibeijiayuan.bean.device.vo.CameraVO">
        select cm.*,kg.kindergarten_name from abjy_tb_camera cm, abjy_tb_kindergarten kg
        where cm.is_delete = 0 and kg.is_delete = 0
        and cm.kindergarten_id = kg.kindergarten_id
        <if test="keyword !=null and keyword !=''">
            and cm.camera_name like concat('%',#{keyword},'%')
        </if>
        order by cm.create_time desc
    </select>
</mapper>